<h2>Edit Post for
  <%= @post.title %>
</h2>

<form action="<%= post_url(@post)%>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">

  <label>
    Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <br>
  <br>

  <label>
    URL (optional):
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <br>
  <br>

  <label>
    Content (optional):
    <textarea name="post[content]"><%= @post.content %></textarea>
  </label>

  <br>
  <br>

  <input type="submit" value="Update Post">

</form>